     <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách khách hàng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                   <div class="row"><div class="col-sm-12">

                    
                        <% for(var a=0; a < excelData.length; a++) { %>
                        Đây là sheet  <b><%= a %></b> tên <b><%= excelData[a].name %></b></br>
                        Năm dòng đầu tiên trong bảng
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                         <tbody> 
                        <% for(var i=0; i < 5; i++) { %>
                           <tr role="row" class="odd">
                            <td>
                                Dong<%= i %>
                            </td>
                            <% for(var k=0; k < excelData[a].data[i].length; k++) { %>
                             <td><%= excelData[a].data[i][k] %> <%= i %> <%= k %></td>
                             <% } %>
                           </tr>
                        <% } %>
                         </tbody> 
                          </table>
                        <% } %>
               </div></div></div>
            </div>
            <form action="/other/selecdata" method="POST">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="i4">Sheet chính</label>
                  <input type="number" name="sheet" class="form-control" id="i4" placeholder="Số Sheet">
                </div>
                <div class="form-group col-md-6">
                  <label for="inp4">Dòng lấy</label>
                  <input type="number" name="header" class="form-control" id="inp4" placeholder="Thứ tự dòng">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="a1">Cột tên số</label>
                  <input type="number" name="a1" class="form-control" id="a1" placeholder="Số ">
                </div>
                <div class="form-group col-md-4">
                  <label for="a4">Ngày sinh</label>
                  <input type="number" name="a2" class="form-control" id="a2"  placeholder="Số">
                </div>
                <div class="form-group col-md-4">
                  <label for="a3">Chi nhánh</label>
                  <input type="number" name="a3" class="form-control" id="a3"  placeholder="Số">
                </div>
                <div class="form-group col-md-6">
                  <label for="a4">Địa chỉ 1</label>
                  <input type="number" name="a4" class="form-control"  id="a4"  placeholder="Số">
                </div>
                <div class="form-group col-md-6">
                  <label for="a5">Địa chỉ 2</label>
                  <input type="number" name="a5" class="form-control"  id="a5"  placeholder="Số">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="b1">Email</label>
                  <input type="number" class="form-control" name="a6" id="b1" placeholder="Số ">
                </div>
                <div class="form-group col-md-3">
                  <label for="b2">Phone</label>
                  <input type="number" class="form-control" name="a7" id="b2" placeholder="Số">
                </div>
                <div class="form-group col-md-3">
                  <label for="b3">Facebook</label>
                  <input type="number" class="form-control" id="b3" placeholder="Số">
                </div>
                <div class="form-group col-md-3">
                  <label for="b4">Zalo</label>
                  <input type="number" class="form-control" id="b4" placeholder="Số">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Xong</button>
          </form>
        </div>
    </div>